doctype html
html(lang="en")
  head
    block title

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    link(rel="stylesheet", href="node_modules/reveal.js/css/reveal.css")
    link(rel="stylesheet", href="css/djs.css")

    //- <!-- Used for code syntax highlighting -->
    //- link(rel="stylesheet", href="node_modules/reveal.js/lib/css/zenburn.css")

    script.
      var link = document.createElement('link');
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = (window.location.search.match(/print-pdf/gi) ?
                   'node_modules/reveal.js/css/print/pdf.css' :
                   'node_modules/reveal.js/css/print/paper.css');
      document.getElementsByTagName('head')[0].appendChild(link);

  body
    .reveal
      .slides
        block slides

    script(src="node_modules/reveal.js/lib/js/head.min.js")
    script(src="node_modules/reveal.js/js/reveal.js")
    if (typeof use_livereload !== 'undefined' && use_livereload)
      script.
        use_livereload = true;
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    else
      script.
        use_livereload = false;
    script.
      // More info: https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
          history: true,
          progress: true,
          controls: false,

          keyboard: {
              40: 'next',
              38: 'prev'
          },

          menu: {
              themes: false,
              transitions: false,
              openButton: false,
              markers: true,
              numbers: true
          },

          fragmentInURL: use_livereload,

          // More info https://github.com/hakimel/reveal.js#dependencies
          dependencies: [
              // { src: 'node_modules/reveal.js/plugin/markdown/marked.js' },
              // { src: 'node_modules/reveal.js/plugin/markdown/markdown.js' },
              { src: 'node_modules/reveal.js/plugin/notes/notes.js', async: true },
              // { src: 'node_modules/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
              { src: 'node_modules/reveal.js-menu/menu.js' }
          ]
      });
