doctype html
html(lang="en")
  head
    block title

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    link(rel="stylesheet", href="node_modules/reveal.js/css/reveal.css")
    link(rel="stylesheet", href="css/djs.css")

    //- <!-- Used for code syntax highlighting -->
    //- link(rel="stylesheet", href="node_modules/reveal.js/lib/css/zenburn.css")

    script.
      var link = document.createElement('link');
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = (window.location.search.match(/print-pdf/gi) ?
                   'node_modules/reveal.js/css/print/pdf.css' :
                   'node_modules/reveal.js/css/print/paper.css');
      document.getElementsByTagName('head')[0].appendChild(link);

  body
    .reveal
      .slides
        block slides

    script(src="node_modules/reveal.js/lib/js/head.min.js")
    script(src="node_modules/reveal.js/js/reveal.js")
    if (typeof use_livereload !== 'undefined' && use_livereload)
      script.
        use_livereload = true;
        var script = document.createElement('script');
        script.src = 'http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1';
        document.getElementsByTagName('body')[0].appendChild(script);
    else
      script.
        use_livereload = false;
    script.
      // Functions to skip to next/previous slide
      // Based on rejected PR: https://github.com/hakimel/reveal.js/pull/371
      function nextSlide() {
          var idx = Reveal.getIndices();
          if (Reveal.availableRoutes().down) {
              Reveal.slide(idx.h, idx.v + 1);
          } else if (Reveal.availableRoutes().right) {
              Reveal.slide(idx.h + 1);
          }
          navigateLastFragment();
      }
      function prevSlide() {
          var idx = Reveal.getIndices();
          if (Reveal.availableRoutes().up) {
              Reveal.slide(idx.h, idx.v - 1, 99999);
              navigateLastFragment();
          } else if (Reveal.availableRoutes().left) {
              Reveal.slide(idx.h - 1, 99999);
              navigateLastFragment();
          }
      }
      function navigateLastFragment() {
          var fragments = Reveal.getCurrentSlide().querySelectorAll('.fragment');
          var maxIdx = -1;
          for (var i = 0; i < fragments.length; i++) {
              var f = parseInt(fragments[i].dataset.fragmentIndex || 0, 10);
              if (f > maxIdx) {
                  maxIdx = f;
              }
          }
          Reveal.navigateFragment(maxIdx);
      }

      // More info: https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
          history: true,
          progress: true,
          controls: false,

          keyboard: {
              40: 'next',  // down arrow: act like spacebar
              38: 'prev',  // up arrow: opposite of down arrow
              33: prevSlide, // page up: previous slide
              34: nextSlide  // page down: next slide
          },

          menu: {
              themes: false,
              transitions: false,
              openButton: false,
              markers: true,
              numbers: true
          },

          fragmentInURL: use_livereload,

          // More info https://github.com/hakimel/reveal.js#dependencies
          dependencies: [
              // Don't need markdown plugins, because Pug is nicer.
              // { src: 'node_modules/reveal.js/plugin/markdown/marked.js' },
              // { src: 'node_modules/reveal.js/plugin/markdown/markdown.js' },
              { src: 'node_modules/reveal.js/plugin/notes/notes.js', async: true },
              // If you're using syntax highlighting, you might need to
              // uncomment the zenburn CSS line above.
              // { src: 'node_modules/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
              { src: 'node_modules/reveal.js-menu/menu.js' },

              // Handles automatic video playing
              { src: 'js/video-autoplay.js' }
          ]
      });
    if (typeof use_sync !== 'undefined' && use_sync)
      script(src="js/reveal-pug-sync.js")
