extends layout.pug

block title
    title A Cool Talk Title

block slides
    section
      h1 A Cool Title

    section
      p This is the first slide.
      aside.notes Hi there!

    section
      h2 Slide 2
      p Hi
      span.fragment $$ \int \sum e_i \otimes k(x, \cdot) $$
