extends layout.pug

block title
  title A Cool Talk Title

block slides
  section
    h1 A Cool Title
    
  section
    p This is the first slide.
    aside.notes Hi there!

  section
    h2 Slide 2
    p Hi
    span.fragment $$ \int \sum e_i \otimes k(x, \cdot) $$

  section
    h2 More Complicated

    div(style="width: 60%; position: absolute; left: 0").
      \begin{align}
        f &= \sum_{j=1}^{12} j e^{\pi \mathbb{i}} \\
        &\fragment{3}{= -\sum_{j=1}^{12} j} \\
        &\fragment{5}{= - \frac{12}{2} (12 + 1)} \\
        &\fragment{6}{= - 6 \cdot 13} \\
        &\fragment{7}{= -78}
      \end{align}

    div(style="width: 30%; position: absolute; left: 65%")
      p.fragment(data-fragment-index=2) Remember:
      p.fragment(data-fragment-index=2) $e^{\pi \mathbb{i}} = -1$
      p.fragment(data-fragment-index=4).
        $\sum_{j=1}^b j = \frac{b (b + 1)}{2}$
